// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: rgba(240, 240, 240, 0.8);

}

.generell-links{
text-decoration: none;
color: rgba(20,20,20, 0.8);
}

.generell-links:hover{
  background-color: rgba(20,20,20, 0.3);
  text-decoration: none;
  color: rgba(20,20,20, 0.8);
}
